<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
</head>
<body>

    <!-- _layouts/default.html -->

    <header>
        <!-- Horizontal navigation menu -->
        <nav>
            <ul style="display: flex; align-items: center; list-style-type: none; padding: 0; margin: 0;">
                <!-- Navigation Links -->
                <li><a href="{{ site.baseurl }}/about">About</a></li>
                <li><a href="{{ site.baseurl }}/experience">Experience</a></li>
                <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
                <li><a href="{{ site.baseurl }}/awards">Awards</a></li>
                <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; 2025 Subhashisa Swain. All Rights Reserved.</p>
        <ul>
            <li><a href="{{ site.social_links.github }}">GitHub</a></li>
            <li><a href="{{ site.social_links.linkedin }}">LinkedIn</a></li>
            <li><a href="{{ site.social_links.researchgate }}">ResearchGate</a></li>
            <li><a href="{{ site.social_links.orcid }}">ORCID</a></li>
        </ul>
    </footer>

</body>
</html>
